/* Footer */

footer{
    width: 100%;
    background-color: rgb(37, 56, 37);
  }
  
  .footer-section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    color: #f4f3f1;
  }
  
  .address-footer > p{
    line-height: 1px;
    padding-bottom: 8px;
  }
  
  .contact-footer > p{
    line-height: 1px;
    padding-bottom: 8px;          
  }
  
  .contact-footer > p{
    line-height: 0.8px;
  }
  
  .services-footer > p{
    line-height: 1px;
    padding-bottom: 8px;
  }
  
  .social-media-icon{
    width: 30px;
  }
  
  
  @media screen and (max-width: 720px) {
    .footer-section{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }          
  }
  /* Footer */